<%= form_with url: user_wizzard_path do | f | %>
	
	
	<div class="card">
	  <div class="card-body">
		<h5 class="card-title mb-2">Wizzard User</h5>
		
		<div class="row mb-3">
			<div class="col">				
				<%= f.collection_radio_buttons :country, Name.select(:country).distinct.map(&:country), :to_s, :to_s, class: "form-check-input" %>
			</div>
			<div class="col">				
				<%= f.collection_radio_buttons :gender, Name.select(:gender).distinct.map(&:gender), :to_s, :to_s, class: "form-check-input" %>

			</div>
		</div>
	
		<%= f.submit "Create", class: "btn btn-outline-primary" %>
		
	  </div>
	</div>
	
	
<% end %>